.footer {
  background-color: #495e57;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  height: 75px;
}

.footer-links,
.contact,
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.contact li,
.social-links li {
  margin-bottom: 0.5rem;
}

.footer-links {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-content > * {
  flex: 1 1 200px;
  min-width: 180px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 1.5rem;
  }

  .footer > div,
  .footer ul {
    width: 100%;
  }
}
